<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Trace" internalLogFile="c:\temp\nlog-internal.log">

  <targets>

    <target name="logfile" xsi:type="File"
            fileName="c:\logs\log_${shortdate}.log"
            layout="${longdate} | MachineName=${machinename:lowercase=true} | Layer=${event-properties:item=Layer} | Action=${event-properties:item=Action} | ${level} | ${logger} | ${message} ${exception}" />

    <target name="logconsole" xsi:type="Console"
            layout="${longdate} | MachineName=${machinename:lowercase=true} | Layer=${event-properties:item=Layer} | Action=${event-properties:item=Action} | ${level} | ${logger} | ${message} ${exception}" />

    <target name="DatabaseGeneralLog" xsi:type="Database" connectionString="Server=.;Database=Wagner;User Id=sa;Password=wagner;TrustServerCertificate=True;"
        commandText="INSERT INTO ApplicationLogs ([IdCorrelation], [Environment], [LogDate], [ExceptionMessage], [LogLevel], [LoggerName], [Message], [ExceptionStackTrace ], [ThreadId])
                     VALUES (@IdCorrelation, @Environment, @LogDate, @ExceptionMessage, @LogLevel, @LoggerName, @Message, @ExceptionStackTrace , @ThreadId);" >
      <parameter name="@IdCorrelation" layout="${gdc:item=IdCorrelation}" />
      <parameter name="@Environment" layout="${gdc:item=Environment}" />
      <parameter name="@LogDate" layout="${date}" />
      <parameter name="@ExceptionMessage" layout="${exception}" />
      <parameter name="@LogLevel" layout="${uppercase:${level}}" />
      <parameter name="@LoggerName" layout="${logger:shortName=true}" />
      <parameter name="@Message" layout="${message:raw=true}" />
      <parameter name="@ExceptionStackTrace " layout="${stacktrace}" />
      <parameter name="@ThreadId" layout="${threadid}" />
    </target>

    <target name="DatabaseOperationsLog" xsi:type="Database" connectionString="Server=.;Database=Wagner;User Id=sa;Password=wagner;TrustServerCertificate=True;"
            commandText="INSERT INTO OperationsLogs ([Action], [Message], [LogDate])
                     VALUES (@Action, @Message, @LogDate);">
      <parameter name="@Action" layout="${event-properties:item=Action}" />
      <parameter name="@Message" layout="${gdc:item=Message}" />
      <parameter name="@LogDate" layout="${date}" />
    </target>

    <target name="DatabaseErrorLog" xsi:type="Database" connectionString="Server=.;Database=Wagner;User Id=sa;Password=wagner;TrustServerCertificate=True;"
        commandText="INSERT INTO ErrorDetailsLogs ([IdCorrelation], [ServerName], [LineNumber], [FileName], [LogDate])
                     VALUES (@IdCorrelation, @ServerName, @LineNumber, @FileName, @LogDate);" >
      <parameter name="@IdCorrelation" layout="${gdc:item=IdCorrelation}" />
      <parameter name="@ServerName" layout="${hostname}" />
      <parameter name="@LineNumber" layout="${event-properties:item=LineNumber}" />
      <parameter name="@FileName" layout="${event-properties:FileName}" />
      <parameter name="@LogDate" layout="${date}" />
    </target>

  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="logfile" final="false">
      <filters>
        <when condition="equals('${event-properties:item=Action}', 'Create')" action="Log" />
        <when condition="equals('${event-properties:item=Action}', 'Execute')" action="Log" />
        <when condition="equals('${event-properties:item=Action}', 'Update')" action="Log" />
        <when condition="equals('${event-properties:item=Action}', 'FetchAll')" action="Log" />
        <when condition="equals('${event-properties:item=Action}', 'FetchSingle')" action="Log" />
        <when condition="equals('${event-properties:item=Action}', 'LaunchForm')" action="Log" />
        <when condition="equals('${event-properties:item=Action}', 'Delete')" action="Log" />
      </filters>
    </logger>
    <logger name="*" minlevel="Error" writeTo="logconsole" />
    <logger name="*" minlevel="Error" writeTo="DatabaseGeneralLog" />
    <logger name="*" minlevel="Info" writeTo="DatabaseOperationsLog" />
    <logger name="*" minlevel="Error" writeTo="DatabaseErrorLog" />
  </rules>
</nlog>
